/*
Footer.scss
*/

footer {
  height: 26rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif;
  .content-wrapper {
    display: flex;
    flex-direction: row;
    .foot-half-1 {
      width: 15rem;
      padding-left: 2rem;
      form {
        display: flex;
        font-size: 1.5rem;
      }
      .email {
        padding-top: 0.6rem;
        padding-left: 0.7rem;
        padding-right: 0.7rem;
        background-color: $light-brown;
        color: $black;
        font-weight: 600;
        text-transform: capitalize;
      }
      .email:hover {
        color: $white;
        cursor: pointer;
      }
      .socials {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 20rem;
        margin-top: 3.4rem;
        color: $gray;
        i {
          font-size: 4rem;
        }
        i:hover {
          color: $black;
          cursor: pointer;
        }
      }
      input {
        height: 2.5rem;
        border: none;
        padding-left: 2rem;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1.1rem;
        color: $gray;
      }
      input::placeholder {
        color: #cccccc;
      }
    }
    div:nth-child(2) {
      width: 35rem;
    }
    .ul-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-left: 10rem;
      ul {
        list-style-type: none;
        li {
          color: $gray;
          margin-top: 1rem;
          margin-bottom: 1rem;
          font-size: 1.5rem;
        }
        li:hover {
          text-decoration: underline;
          cursor: pointer;
        }
        li:nth-child(1) {
          color: $brown;
          text-transform: uppercase;
          margin-bottom: 1rem;
          font-weight: 700;
        }
      }
    }
  }
}

@media (max-width: 980px) {
  footer {
    padding-bottom: 5rem;
    .content-wrapper {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .foot-half-1 {
        padding-left: 0;
        padding-bottom: 5rem;
        width: auto;
      }
      .ul-wrapper {
        margin-left: 0;
      }
    }
  }
}
@media (max-width: 980px) {
  footer {
    height: auto !important;
    .foot-half-1 {
      margin-right: 5%;
      margin-left: 5%;
    }
    .ul-wrapper {
      flex-direction: column !important;
      width: auto !important;
    }
    form {
      width: 100% !important;
      input {
        width: 50% !important;
      }
    }
    .socials {
      width: 100% !important;
    }
  }
}
