/*
Slider SCSS
*/

.slider {
  position: relative;
  width: auto;
  height: auto;
  overflow: hidden;
  .slide-wrapper {
    position: relative;
    list-style: none;
    height: auto;
    width: 9999%;
    padding: 0;
    margin: 0;
    transition: all 750ms ease;
    left: 0;
    .slide {
      position: relative;
      height: auto;
      width: 100vw;
      float: left;
    }
  }
}
